/* DeleteModal.css */
.modal-overlay {
    position: fixed !important; /* Make sure it's fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important; /* Use 100% to cover full height */
    background: rgba(0, 0, 0, 0.8) ; /* Full opacity for clarity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;/* High z-index to ensure it’s on top of all content */
    overflow: hidden; /* Prevent content scrolling */
  }
  

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better contrast */
}

.modal-close-button {
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #0056b3;
}

.buttonCarry {
    display: flex;
    justify-content: space-between;
}

